<app-hero></app-hero>

<!-- Cont1 Starts -->
<div class="cont1">
    <div class="title">
        <h1>Ristorante Il Gambero Rosso</h1>
    </div>
    <div id="cont11">
        <img src="../../assets/cont11.jpg" alt="Oops" id="img11">
        <div class="text">
            <p>All of our menu items are inspired by Italian cuisine <br> and have been created by our head chef Georgios Tsoulakis,<br> after studying authentic italian cuisine in Milan. </p>
            <p>Not only do we have fresh flown-in seafood from the northeast,<br> but we also have a variety of handcrafted cocktails, wine, and beer to choose from.</p>
            <p>Come dine with us & experience an authentic italian meal in an intimate dining space. <br>We look forward to serving you!</p>
        </div>
    </div>
</div>

<!-- Cont1 Ends -->


<!-- Cont2 Starts -->
<div class="cont2">
    <div class="title2">
        <h1>Why choose us</h1>
    </div>
    <div class="cont22">
        <p>At Ristorante Il Gambero Rosso, we are serving up more than typical italian food. <br> In fact,Ristorante Il Gambero Rosso Famous recipe is one of our unexpected specialties. <br> Reminiscent of butcher shops back in the day, each slow-smoked, sizzling prime chop measures seven-fingers high. <br> Our signature recipe, that we have perfected for more than four decades, <br> is rubbed with a secret blend of seasonings, <br> cured and roasted on a rotisserie with pecan wood for up to six hours before it is topped with our signature herb-garlic butter, <br> then carved tableside.</p>

        <p>At Ristorante Il Gambero Rosso  specializes in delicious food featuring fresh ingredients and masterful preparation by the (RN) culinary team. <br> Whether you are ordering a multi-course meal or grabbing a drink and pizza at the bar, <br> At Ristorante Il Gambero Rosso's lively, casual yet upscale atmosphere makes it perfect for dining with friends, family, clients and business associates.</p>
    </div>
</div>
<!-- Cont2 Ends -->
