<app-hero></app-hero>
<h1>About Us </h1>
<div class="cont1">
    <hr>
    <h2 id="h2cont1">Meet the Partners</h2>
    <p>
        Chef Georgios Tsoulakis co-founded Ristorante Il Gambero Rosso with her siblings in 2012 as a food truck. "Ristorante Il Gambero Rosso” food is an expression of the Giorgos' siblings’ favorite childhood eating experiences as Italian kids growing up in Bologna. In 2020, Giorgos teamed up with Babson MBA graduates Alyssa Lee and Annie Campbell to lead the business in its transformation into a italian restairant, Cafe, and winery.

         
    </p>
    <p>
        Giorgos' unconventional recipe combinations showcase our love for great New England ingredients along with a pursuit of what tastes delicious. We use pasture-raised meat that is sourced from the Northeast and work with small, independent family farms. We are able to source 70% of our produce from the Northeast. Since 2018, Ristorante Il Gambero Rosso  has been an “Open Book” company; we share key financial information with all staff, empowering them to think and act like managers regardless of their role or title. 
    </p>
    <p>Since the pandemic, the business has changed. But Ristorante Il Gambero Rosso is not going anywhere; in fact, our dishes are going everywhere!</p>

</div>

<div class="cont2">
    <h2 id="h2cont2">
        Wines
    </h2>
    <p>
        Ristorante Il Gambero Rosso food and wine are made to be together: combined they create an experience far greater than the sum of its parts. Wine is also highly susceptible to nature’s variations: terroir. We strongly believe that within their craft both  vintners best express the sense of place of their chosen good by paying a close eye to nature itself.
    </p>
    <p>
        This is why we choose to pair our food with wines that are biodynamic and/or organic, with an emphasis on natural wine-making and artisan production. Our wine list is whimsical rather than extensive and features a variety of regions, including less well known ones.
    </p>
</div>
